@charset  "UTF-8";
 
* {
margin: 0px;
padding: 0px;
}

body {
    background-color: white;
}

header {
    background-color: black;
    text-align: center;
}

header > h1 {
    color: white;
    font-weight: bold; 
}

header > p {
    color: white;
    font-weight: normal;
}

main {
    text-align: left;
    padding: 300px;
}

div#img1 {
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    height: 100vh;
    width: 1349.9px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    margin-top: 10%;
}

p#textoDentroDaImagem {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.281);
    height: 500px;
    width: 400px;
    font-size: 47px;
    color: white;
}

footer {
    background-color: black;
}

footer > p {
    color: white;
    text-align: center;
}
 
